<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goyals.mercuryscannerapp">

  <uses-sdk tools:overrideLibrary="androidx.camera.camera2, androidx.camera.core,androidx.camera.view, androidx.camera.lifecycle" />

  <uses-feature android:name="android.hardware.camera" />

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:name=".MercuryApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.MercuryScannerApp"
      android:usesCleartextTraffic="true">
    <activity
        android:name=".ui.login.LoginActivity"
        android:label="@string/title_activity_login">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".ui.edit_form.EditFormActivity"
        android:label="@string/edit_form"
        android:launchMode="singleTop">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ui.main.MainActivity" />
    </activity>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <activity android:name=".ui.scanner.AadharScanActivity" />
    <activity
        android:name=".ui.main.MainActivity"
        android:label="@string/app_name"
        android:theme="@style/Theme.MercuryScannerApp.NoActionBar" />

  </application>

</manifest>